* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #114b5f;
  color: white;
  display: grid;
  place-items: center;
  font: 14px 'Century Gothic', Futura, sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

ol {
  margin-top: 30px;
}

li {
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bold {
  font-weight: bold;
  font-size: 16px;
}

.btn {
  background-color: white;
  padding: 6px 12px;
  border: none;
  font-size: 12px;
  font-weight: normal;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #186e8b;
  border: 2px solid #092934;
  color: #f3e9d2;
  font-size: 90px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.winner {
  font-weight: bold;
  color: #1a936f;
}
